.container {
	max-width: 1328px;
}

.meme_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;
}

@media (max-width: 1420px) {
	.meme_container {
		grid-template-columns: repeat(3, 1fr);
	}
	.container {
		max-width: 970px;
	}
}

@media (max-width: 1120px) {
	.meme_container {
		grid-template-columns: repeat(2, 1fr);
	}
	.container {
		max-width: 656px;
	}
}

@media (max-width: 796px) {
	.meme_container {
		grid-template-columns: repeat(1, 1fr);
	}
	.container {
		max-width: 580px;
	}
}
