@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

body{
  background: #0f0f0f;
}

html {
	overflow-y: scroll;
}

body::-webkit-scrollbar {
  width: 9px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: inherit;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;    /* цвет плашки */
  border-radius: 20px;
}

